.cart-container {
  max-width: 1200px;
  margin: 150px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-container>h2 {
  text-align: center;
  font-size: 25px;
  border-bottom: 2px ridge rgb(234, 200, 200);
  border-radius: 10px ;
  width:auto;
  padding: 6px;
  background: linear-gradient(to right, #954b68,
      #ff6b08, #cf23cf, #aa9d2f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.cart-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.cart-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.cart-list img {
  background: rgb(168, 237, 227);
  width: 125px;
  height: 125px;
  border-radius: 100%;
}

.cart-list li:last-child {
  border-bottom: none;
}

.operational-buttons {
  display: flex;
  gap: 20px;
}

.quantity-button {
  margin-top: 4px;
  padding: 1px 5px;
}

.quantity {
  margin: 10px;
}

.item-actions {
  flex-basis: 20%;
  text-align: right;
}

.btn-remove {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: -5px;
}

.btn-remove:hover {
  background-color: #ff99cc;
}

.cart-summary {
  margin-left: 35px;
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}

.cart-summary h3 {
  margin-top: 0;
}

.btn-checkout {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-checkout:hover {
  background-color: #3e8e41;
}