/*Navbar.css */
.alert-text {
  display: 'flex';
  justify-content: 'center';
}

.navbar {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgb(62, 172, 194), rgb(223, 82, 223));
  padding: 20px 20px;
  color: #fff;
}

.link>img {
  box-shadow: 4px 4px 40px rgb(96, 244, 239);
  margin: 0px;
  border-radius: 50%;
  border: 2px solid rgb(96, 244, 239);
  animation: mymove 3s linear infinite;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline;
}

.navbar-links li>button {
  color: #fff;
  background-color: inherit;
  font-size: 20px;
  border: 0;
  transition: 100ms ease-in-out;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: all 400ms ease-in-out;
}

.navbar-links li>button:hover {
  font-weight: 500;
  text-decoration: underline;
  transform: translateY(4px);
  text-decoration-color: red;
}

.cart-size {
  border: 1px solid white;
  border-radius: 100%;
  background: rgb(6, 112, 110);
  padding: 4px;
  margin-top: -10px;
  font-size: 10px;
  width: 12px;
  margin-left: 2px;
}

@keyframes mymove {
  50% {
    box-shadow: 4px 4px 50px rgb(223, 82, 223);
  }

  75% {
    box-shadow: 4px 4px 50px rgb(62, 172, 194);
  }
}

@media (max-width: 600px) {
  .navbar-links {
    flex-direction: column;
    gap: 10px;
  }
}